h1 {
    font-style: italic;
}

.note {
    color: rgb(37, 0, 0);
    padding-top: 10px;
    font-size: 15px;
}

.importantButton {
    margin-left: 15px;
}

button {
    border-radius: 5px;
}

.error {
    color: red;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}